---
permalink: /ui_kits/website/whos-who.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en-GB">
<head>
<meta charset="utf-8" />
<title>Redirecting…</title>
<meta http-equiv="refresh" content="0;url=/ui_kits/website/our-team.html" />
<link rel="canonical" href="/ui_kits/website/our-team.html" />
<script>location.replace('/ui_kits/website/our-team.html');</script>
</head>
<body>
  <p><a href="/ui_kits/website/our-team.html">Our Team</a></p>
</body>
</html>
